.host {
  display: flex;
  height: 100%;
}

.leftPane {
  min-width: 320px;
  width: 320px;
  background: #222;
  color: #ddd;
  overflow-y: auto;
}

.rightPane {
  flex-grow: 1;
  min-width: 300px;
  background: beige;
}
